.header{
  height: 34vw;
  margin: 30px auto;
  background: url('/header_img.png') no-repeat;
  background-size:contain;
  position: relative;
}
.header-content{
  display: flex;
  flex-direction: column;
  position: absolute;
  align-items: start;
  gap: 1.5vw;
  max-width: 50%;
  bottom: 10%;
  left: 6vw;
  animation: fadeIn 3s;
}
.header-content h1{
  font-weight: bolder;
  font-size: 45px;
  color: white;
}
.header-content p{
  color: white;
  font-size: 1.3vw;
}
.header-content button{
  border: none;
  color: #747474;
  font-weight: 500;
  padding: 1vw 2.3vw;
  background-color: white;
  font-size: 15px;
  border-radius: 50px;
}
@media (max-width:1050px){
  .header-content h1{
    font-size: 35px;
  }
  .header-content{
    max-width: 45%;
  }
}
@media (max-width:750px){
  .header-content{
    max-width: 65%;
  }
  .header-content h1{
    font-size: 30px;
  }
  .header-content p{
    display: none;
  }
  .header-content button{
    padding: 2vw 4vw;
  }
}