.loginpopup{
position: absolute;
z-index: 1;
width: 100%;
height: 100%;
background-color: #00000090;
display: grid;
}
.login-container{
place-self: center;
width: max(23vw,330px);
color: #808080;
background-color: white;
display: flex;
flex-direction: column;
gap: 15px;
padding: 25px 30px;
border-radius: 8px;
font-size: 14px;
animation: fadeIn 0.5s;
}
.title{
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: black;
}
.title img{
  width: 16px;
  cursor: pointer;
}
.login-input{
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.login-input input{
  border: 1px solid rgb(81, 81, 81);
  padding: 10px;
  border-radius: 4px;
}
.login-container button{
  padding: 10px;
  border-radius: 4px;
  color: white;
  background-color: tomato;
  font-size:15px;
  cursor: pointer;
}
.login-condition{
  display: flex;
  align-items: start;
  gap: 8px;
  margin-top: -10px;
}
.login-condition input{
  margin-top: 3px;
}
.loginpopup p span{
  color: tomato;
  font-weight: 500;
  cursor: pointer;
}